In [76]:
# import necessary packages
import numpy as np
import pandas as pd

In [89]:
# read raw dataset
df = pd.read_csv('data_clean.csv')
#read dictionary
dict = pd.read_csv('dictionary.csv')

In [90]:
df.head()

,index,Name,Time,Store,Comment
0,0,Lisa Shen,08-03-2020,Amazon Go,every introvert dream
1,1,WTFIWFYDB,09-03-2020,Amazon Go,not really lot people inside regardless online...
2,3,John Miller,10-03-2020,Amazon Go,laugh loud exactly
3,6,John Miller,10-03-2020,Amazon Go,talk
4,7,Soundwave,11-03-2020,Amazon Go,win change anything introvert already self che...

In [91]:
dict.head()

       term   aspect
0     store  general
1   grocery  general
2      shop  general
3  shopping  general
4  customer  general

In [92]:
# show unique aspects in dictionary
dict['aspect'].unique()

array(['general', 'experience', 'product', 'unemployment', 'data',
       'privacy', 'payment', 'price', 'marketing', 'technology'],
      dtype=object)

In [93]:
# create a new table from df with a null column named label
df_label = df
df_label['label'] = np.nan

In [94]:
df_label

,index,Name,Time,Store,Comment,label
0,0,Lisa Shen,08-03-2020,Amazon Go,every introvert dream,NaN
1,1,WTFIWFYDB,09-03-2020,Amazon Go,not really lot people inside regardless online...,NaN
2,3,John Miller,10-03-2020,Amazon Go,laugh loud exactly,NaN
3,6,John Miller,10-03-2020,Amazon Go,talk,NaN
4,7,Soundwave,11-03-2020,Amazon Go,win change anything introvert already self che...,NaN
...,...,...,...,...,...,...
223262,268230,Lindseypatterson123,02/11/2022,Smart Cart,ok smart cart cancel just girl,NaN
223263,268231,Hannah Thomas,02/11/2022,Smart Cart,okay thank,NaN
223264,268232,Hannah Thomas,02/11/2022,Smart Cart,actual reason want able steal peace kelvin kufley,NaN
223265,268234,Kelvin_kufley,02/11/2022,Smart Cart,cause steal,NaN
223266,268235,Hannah Thomas,02/11/2022,Smart Cart,yes literally exactly reason,NaN

In [97]:
#function to count the number of words in each category
def countWords(df_label, dict):
    for i in range(len(df_label)):
        tech = 0
        gen = 0
        data = 0
        mar = 0
        exp = 0
        price = 0
        priv = 0
        pro = 0
        pay = 0
        # convert the comment to array type
        df_label['label'][i] = [np.nan]
        for j in range(len(dict)):
            if dict['term'][j] in df_label['Comment'][i]:
                if dict['aspect'][j] == 'technology':
                    tech += 1
                elif dict['aspect'][j] == 'general':
                    gen += 1
                elif dict['aspect'][j] == 'data':
                    data += 1
                elif dict['aspect'][j] == 'marketing':
                    mar += 1
                elif dict['aspect'][j] == 'experience':
                    exp += 1
                elif dict['aspect'][j] == 'price':
                    price += 1
                elif dict['aspect'][j] == 'privacy':
                    priv += 1
                elif dict['aspect'][j] == 'product':
                    pro += 1
                elif dict['aspect'][j] == 'payment':
                    pay += 1
        # find the max value and assign the label
        # exclude the case when all values are 0
        if tech != 0 or gen != 0 or data != 0 or mar != 0 or exp != 0 or price != 0 or priv != 0 or pro != 0 or pay != 0:
            if tech >= gen and tech >= data and tech >= mar and tech >= exp and tech >= price and tech >= priv and tech >= pro and tech >= pay:
                df_label['label'][i].append('technology')
            if gen >= tech and gen >= data and gen >= mar and gen >= exp and gen >= price and gen >= priv and gen >= pro and gen >= pay:
                df_label['label'][i].append('general')
            if data >= tech and data >= gen and data >= mar and data >= exp and data >= price and data >= priv and data >= pro and data >= pay:
                df_label['label'][i].append('data integration')
            if mar >= tech and mar >= gen and mar >= data and mar >= exp and mar >= price and mar >= priv and mar >= pro and mar >= pay:
                df_label['label'][i].append('marketing and communication')
            if exp >= tech and exp >= gen and exp >= data and exp >= mar and exp >= price and exp >= priv and exp >= pro and exp >= pay:
                df_label['label'][i].append('shopping experience')
            if price >= tech and price >= gen and price >= data and price >= mar and price >= exp and price >= priv and price >= pro and price >= pay:
                df_label['label'][i].append('price and value')
            if priv >= tech and priv >= gen and priv >= data and priv >= mar and priv >= exp and priv >= price and priv >= pro and priv >= pay:
                df_label['label'][i].append('privacy and security')
            if pro >= tech and pro >= gen and pro >= data and pro >= mar and pro >= exp and pro >= price and pro >= priv and pro >= pay:
                df_label['label'][i].append('product available and store design')
            if pay >= tech and pay >= gen and pay >= data and pay >= mar and pay >= exp and pay >= price and pay >= priv and pay >= pro:
                df_label['label'][i].append('payment and checkout')
    return df_label

In [98]:
sample = df_label.head()

In [99]:
sample = countWords(sample, dict)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_17876\1930489495.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_label['label'][i] = [np.nan]

In [1]:
# call the function
df_label = countWords(df_label, dict)

NameError: name 'countWords' is not defined