In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
df= pd.read_csv('June26.csv')
df

,Unnamed: 0,Name,Time,Store,Comment
0,53965,"Josh of Madison, IN","April 1, 2009",Walmart,I would like to address the issue from a Wal-M...
1,53966,"Melvin of Raleigh, NC","April 1, 2009",Walmart,I entered the Wal-Mart photo center at 7pm on ...
2,53967,"Maria of Pomona, NY","April 1, 2009",Walmart,"I took a survey for your store to win $1,000 g..."
3,53452,"Joyce of Madisonville, KY","April 1, 2010",Walmart,I try not to go to Walmart. I usually go to th...
4,53453,"Susan of Nash, TX","April 1, 2010",Walmart,"A few months ago, I purchased a pizza crust. A..."
...,...,...,...,...,...
10419,39876,Karen g.,"September 9th, 2016",Walmart,"Good service, I love Walmart site to store"
10420,39347,Eric M.,"September 9th, 2017",Walmart,"Good, A lot of selection but a little slow on ..."
10421,36995,Mark H.,"September 9th, 2020",Walmart,"Lost my shipment AGAIN, Twice in a row they de..."
10422,37048,Lorna B.,"September 9th, 2021",Walmart,"Improved, Site is much improved, but there are..."
10423,37059,NATISHA J.,"September 9th, 2021",Walmart,"A place for all your needs, Walmart is in the ..."

In [2]:
df.dtypes

Unnamed: 0     int64
Name          object
Time          object
Store         object
Comment       object
dtype: object

In [3]:
# change time column to string type
df['Time'] = df['Time'].astype(str)
#from string format Aug. 16, 2008 to 16/08/2008
# change Sep. 16, 2008 to 16/09/2008, Aug. 16, 2008 to 16/08/2008, etc in Time column
df['Time'] = df['Time'].str.replace('January', '01')
df['Time'] = df['Time'].str.replace('February', '02')
df['Time'] = df['Time'].str.replace('March', '03')
df['Time'] = df['Time'].str.replace('April', '04')
df['Time'] = df['Time'].str.replace('May', '05')
df['Time'] = df['Time'].str.replace('June', '06')
df['Time'] = df['Time'].str.replace('July', '07')
df['Time'] = df['Time'].str.replace('August', '08')
df['Time'] = df['Time'].str.replace('September', '09')
df['Time'] = df['Time'].str.replace('October', '10')
df['Time'] = df['Time'].str.replace('November', '11')
df['Time'] = df['Time'].str.replace('December', '12')
df['Time'] = df['Time'].str.replace('Jan.', '01')
df['Time'] = df['Time'].str.replace('Feb.', '02')
df['Time'] = df['Time'].str.replace('Mar.', '03')
df['Time'] = df['Time'].str.replace('Apr.', '04')
df['Time'] = df['Time'].str.replace('May.', '05')
df['Time'] = df['Time'].str.replace('Jun.', '06')
df['Time'] = df['Time'].str.replace('Jul.', '07')
df['Time'] = df['Time'].str.replace('Aug.', '08')
df['Time'] = df['Time'].str.replace('Sep.', '09')
df['Time'] = df['Time'].str.replace('Oct.', '10')
df['Time'] = df['Time'].str.replace('Nov.', '11')
df['Time'] = df['Time'].str.replace('Dec.', '12')
df

C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_2860\3567502671.py:17: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Time'] = df['Time'].str.replace('Jan.', '01')
C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_2860\3567502671.py:18: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Time'] = df['Time'].str.replace('Feb.', '02')
C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_2860\3567502671.py:19: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Time'] = df['Time'].str.replace('Mar.', '03')
C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_2860\3567502671.py:20: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Time'] = df['Time'].str.replace('Apr.', '04')
C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_2860\3567502671.py:21: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Time'] = df['Time'].str.replace('May.', '05')
C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_2860\3567502671.py:22: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Time'] = df['Time'].str.replace('Jun.', '06')
C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_2860\3567502671.py:23: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Time'] = df['Time'].str.replace('Jul.', '07')
C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_2860\3567502671.py:24: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Time'] = df['Time'].str.replace('Aug.', '08')
C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_2860\3567502671.py:25: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Time'] = df['Time'].str.replace('Sep.', '09')
C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_2860\3567502671.py:26: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Time'] = df['Time'].str.replace('Oct.', '10')
C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_2860\3567502671.py:27: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Time'] = df['Time'].str.replace('Nov.', '11')
C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_2860\3567502671.py:28: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Time'] = df['Time'].str.replace('Dec.', '12')

,Unnamed: 0,Name,Time,Store,Comment
0,53965,"Josh of Madison, IN","04 1, 2009",Walmart,I would like to address the issue from a Wal-M...
1,53966,"Melvin of Raleigh, NC","04 1, 2009",Walmart,I entered the Wal-Mart photo center at 7pm on ...
2,53967,"Maria of Pomona, NY","04 1, 2009",Walmart,"I took a survey for your store to win $1,000 g..."
3,53452,"Joyce of Madisonville, KY","04 1, 2010",Walmart,I try not to go to Walmart. I usually go to th...
4,53453,"Susan of Nash, TX","04 1, 2010",Walmart,"A few months ago, I purchased a pizza crust. A..."
...,...,...,...,...,...
10419,39876,Karen g.,"09 9th, 2016",Walmart,"Good service, I love Walmart site to store"
10420,39347,Eric M.,"09 9th, 2017",Walmart,"Good, A lot of selection but a little slow on ..."
10421,36995,Mark H.,"09 9th, 2020",Walmart,"Lost my shipment AGAIN, Twice in a row they de..."
10422,37048,Lorna B.,"09 9th, 2021",Walmart,"Improved, Site is much improved, but there are..."
10423,37059,NATISHA J.,"09 9th, 2021",Walmart,"A place for all your needs, Walmart is in the ..."

In [4]:
# keep number and remove character and alphabet in Time column
df['Time'] = df['Time'].str.replace('[a-zA-Z]', '')
df

C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_2860\1946158695.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Time'] = df['Time'].str.replace('[a-zA-Z]', '')

,Unnamed: 0,Name,Time,Store,Comment
0,53965,"Josh of Madison, IN","04 1, 2009",Walmart,I would like to address the issue from a Wal-M...
1,53966,"Melvin of Raleigh, NC","04 1, 2009",Walmart,I entered the Wal-Mart photo center at 7pm on ...
2,53967,"Maria of Pomona, NY","04 1, 2009",Walmart,"I took a survey for your store to win $1,000 g..."
3,53452,"Joyce of Madisonville, KY","04 1, 2010",Walmart,I try not to go to Walmart. I usually go to th...
4,53453,"Susan of Nash, TX","04 1, 2010",Walmart,"A few months ago, I purchased a pizza crust. A..."
...,...,...,...,...,...
10419,39876,Karen g.,"09 9, 2016",Walmart,"Good service, I love Walmart site to store"
10420,39347,Eric M.,"09 9, 2017",Walmart,"Good, A lot of selection but a little slow on ..."
10421,36995,Mark H.,"09 9, 2020",Walmart,"Lost my shipment AGAIN, Twice in a row they de..."
10422,37048,Lorna B.,"09 9, 2021",Walmart,"Improved, Site is much improved, but there are..."
10423,37059,NATISHA J.,"09 9, 2021",Walmart,"A place for all your needs, Walmart is in the ..."

In [5]:
# 09 9 2022 to 09 09 2022 in Time column if len month is 1 digit and len day is 1 digit
df['Time'] = df['Time'].str.replace(' 9, ', ' 09 ')
df['Time'] = df['Time'].str.replace(' 8, ', ' 08 ')
df['Time'] = df['Time'].str.replace(' 7, ', ' 07 ')
df['Time'] = df['Time'].str.replace(' 6, ', ' 06 ')
df['Time'] = df['Time'].str.replace(' 5, ', ' 05 ')
df['Time'] = df['Time'].str.replace(' 4, ', ' 04 ')
df['Time'] = df['Time'].str.replace(' 3, ', ' 03 ')
df['Time'] = df['Time'].str.replace(' 2, ', ' 02 ')
df['Time'] = df['Time'].str.replace(' 1, ', ' 01 ')
df

,Unnamed: 0,Name,Time,Store,Comment
0,53965,"Josh of Madison, IN",04 01 2009,Walmart,I would like to address the issue from a Wal-M...
1,53966,"Melvin of Raleigh, NC",04 01 2009,Walmart,I entered the Wal-Mart photo center at 7pm on ...
2,53967,"Maria of Pomona, NY",04 01 2009,Walmart,"I took a survey for your store to win $1,000 g..."
3,53452,"Joyce of Madisonville, KY",04 01 2010,Walmart,I try not to go to Walmart. I usually go to th...
4,53453,"Susan of Nash, TX",04 01 2010,Walmart,"A few months ago, I purchased a pizza crust. A..."
...,...,...,...,...,...
10419,39876,Karen g.,09 09 2016,Walmart,"Good service, I love Walmart site to store"
10420,39347,Eric M.,09 09 2017,Walmart,"Good, A lot of selection but a little slow on ..."
10421,36995,Mark H.,09 09 2020,Walmart,"Lost my shipment AGAIN, Twice in a row they de..."
10422,37048,Lorna B.,09 09 2021,Walmart,"Improved, Site is much improved, but there are..."
10423,37059,NATISHA J.,09 09 2021,Walmart,"A place for all your needs, Walmart is in the ..."

In [6]:
#remove , . space in Time column
df['Time'] = df['Time'].str.replace(',', '')
df['Time'] = df['Time'].str.replace('.', '')
#remove !@#$%^& punctuation in Time column
df['Time'] = df['Time'].str.replace('!', '')
df['Time'] = df['Time'].str.replace('@', '')
df['Time'] = df['Time'].str.replace('#', '')
df['Time'] = df['Time'].str.replace('$', '')
df['Time'] = df['Time'].str.replace('%', '')
df['Time'] = df['Time'].str.replace('^', '')
df['Time'] = df['Time'].str.replace('&', '')
df['Time'] = df['Time'].str.replace('*', '')
df['Time'] = df['Time'].str.replace('(', '')
df['Time'] = df['Time'].str.replace(')', '')
df['Time'] = df['Time'].str.replace('-', '')
df['Time'] = df['Time'].str.replace('_', '')
df['Time'] = df['Time'].str.replace('+', '')
df['Time'] = df['Time'].str.replace('=', '')
df['Time'] = df['Time'].str.replace('{', '')
df['Time'] = df['Time'].str.replace('}', '')
df['Time'] = df['Time'].str.replace('[', '')
df['Time'] = df['Time'].str.replace(']', '')
df['Time'] = df['Time'].str.replace('|', '')
df['Time'] = df['Time'].str.replace(':', '')
df['Time'] = df['Time'].str.replace(';', '')
df['Time'] = df['Time'].str.replace('"', '')
df['Time'] = df['Time'].str.replace("'", '')
df['Time'] = df['Time'].str.replace('<', '')
df['Time'] = df['Time'].str.replace('>', '')
df['Time'] = df['Time'].str.replace('?', '')
df['Time'] = df['Time'].str.replace('/', '')
df['Time'] = df['Time'].str.replace(' ', '')
df

C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_2860\2626648843.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Time'] = df['Time'].str.replace('.', '')
C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_2860\2626648843.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Time'] = df['Time'].str.replace('$', '')
C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_2860\2626648843.py:10: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Time'] = df['Time'].str.replace('^', '')
C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_2860\2626648843.py:12: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Time'] = df['Time'].str.replace('*', '')
C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_2860\2626648843.py:13: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Time'] = df['Time'].str.replace('(', '')
C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_2860\2626648843.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Time'] = df['Time'].str.replace(')', '')
C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_2860\2626648843.py:17: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Time'] = df['Time'].str.replace('+', '')
C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_2860\2626648843.py:19: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Time'] = df['Time'].str.replace('{', '')
C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_2860\2626648843.py:20: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Time'] = df['Time'].str.replace('}', '')
C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_2860\2626648843.py:21: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Time'] = df['Time'].str.replace('[', '')
C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_2860\2626648843.py:22: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Time'] = df['Time'].str.replace(']', '')
C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_2860\2626648843.py:23: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Time'] = df['Time'].str.replace('|', '')
C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_2860\2626648843.py:30: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Time'] = df['Time'].str.replace('?', '')

,Unnamed: 0,Name,Time,Store,Comment
0,53965,"Josh of Madison, IN",04012009,Walmart,I would like to address the issue from a Wal-M...
1,53966,"Melvin of Raleigh, NC",04012009,Walmart,I entered the Wal-Mart photo center at 7pm on ...
2,53967,"Maria of Pomona, NY",04012009,Walmart,"I took a survey for your store to win $1,000 g..."
3,53452,"Joyce of Madisonville, KY",04012010,Walmart,I try not to go to Walmart. I usually go to th...
4,53453,"Susan of Nash, TX",04012010,Walmart,"A few months ago, I purchased a pizza crust. A..."
...,...,...,...,...,...
10419,39876,Karen g.,09092016,Walmart,"Good service, I love Walmart site to store"
10420,39347,Eric M.,09092017,Walmart,"Good, A lot of selection but a little slow on ..."
10421,36995,Mark H.,09092020,Walmart,"Lost my shipment AGAIN, Twice in a row they de..."
10422,37048,Lorna B.,09092021,Walmart,"Improved, Site is much improved, but there are..."
10423,37059,NATISHA J.,09092021,Walmart,"A place for all your needs, Walmart is in the ..."

In [7]:
# remove space in Time column
df['Time'] = df['Time'].str.replace(' ', '')
#insert / in Time column at i =1 and i =3 
df['Time'] = df['Time'].str[:2] + '/' + df['Time'].str[2:4] + '/' + df['Time'].str[4:]
df

,Unnamed: 0,Name,Time,Store,Comment
0,53965,"Josh of Madison, IN",04/01/2009,Walmart,I would like to address the issue from a Wal-M...
1,53966,"Melvin of Raleigh, NC",04/01/2009,Walmart,I entered the Wal-Mart photo center at 7pm on ...
2,53967,"Maria of Pomona, NY",04/01/2009,Walmart,"I took a survey for your store to win $1,000 g..."
3,53452,"Joyce of Madisonville, KY",04/01/2010,Walmart,I try not to go to Walmart. I usually go to th...
4,53453,"Susan of Nash, TX",04/01/2010,Walmart,"A few months ago, I purchased a pizza crust. A..."
...,...,...,...,...,...
10419,39876,Karen g.,09/09/2016,Walmart,"Good service, I love Walmart site to store"
10420,39347,Eric M.,09/09/2017,Walmart,"Good, A lot of selection but a little slow on ..."
10421,36995,Mark H.,09/09/2020,Walmart,"Lost my shipment AGAIN, Twice in a row they de..."
10422,37048,Lorna B.,09/09/2021,Walmart,"Improved, Site is much improved, but there are..."
10423,37059,NATISHA J.,09/09/2021,Walmart,"A place for all your needs, Walmart is in the ..."

In [8]:
#from string format 08 16 2008 to datetimw type 16/08/2008
df['Time'] = pd.to_datetime(df['Time'], format='%m/%d/%Y')

In [9]:
#change  2022-09-22 to 22/09/2022
df['Time'] = df['Time'].dt.strftime('%d/%m/%Y')
df

,Unnamed: 0,Name,Time,Store,Comment
0,53965,"Josh of Madison, IN",01/04/2009,Walmart,I would like to address the issue from a Wal-M...
1,53966,"Melvin of Raleigh, NC",01/04/2009,Walmart,I entered the Wal-Mart photo center at 7pm on ...
2,53967,"Maria of Pomona, NY",01/04/2009,Walmart,"I took a survey for your store to win $1,000 g..."
3,53452,"Joyce of Madisonville, KY",01/04/2010,Walmart,I try not to go to Walmart. I usually go to th...
4,53453,"Susan of Nash, TX",01/04/2010,Walmart,"A few months ago, I purchased a pizza crust. A..."
...,...,...,...,...,...
10419,39876,Karen g.,09/09/2016,Walmart,"Good service, I love Walmart site to store"
10420,39347,Eric M.,09/09/2017,Walmart,"Good, A lot of selection but a little slow on ..."
10421,36995,Mark H.,09/09/2020,Walmart,"Lost my shipment AGAIN, Twice in a row they de..."
10422,37048,Lorna B.,09/09/2021,Walmart,"Improved, Site is much improved, but there are..."
10423,37059,NATISHA J.,09/09/2021,Walmart,"A place for all your needs, Walmart is in the ..."

In [10]:
#to csv file
df.to_csv('June26x.csv', index=False)