In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
df= pd.read_csv('thangngaynam.csv')
df

,index,Name,Time,Store,Comment
0,180054,Stephanie,1/13/19,Walmart,never keep store stock thing time
1,180055,Stephanie,1/13/19,Walmart,employee stock blast music phone phone go stor...
2,180056,Stephanie,1/13/19,Walmart,employee meeting middle aisle
3,180057,Stephanie,1/13/19,Walmart,beaumont ca
4,180058,Stephanie,1/13/19,Walmart,store
...,...,...,...,...,...
33099,140028,CDurham,9/30/21,Walmart,com
33100,140029,John John,9/30/21,Walmart,customer need carefully price
33101,140030,John John,9/30/21,Walmart,price difference check
33102,140031,John John,9/30/21,Walmart,call people work walmart talk
33103,140032,John John,9/30/21,Walmart,say not happy not buy

In [2]:
df.dtypes

index       int64
Name       object
Time       object
Store      object
Comment    object
dtype: object

In [3]:
#delete NaN values
df.dropna(inplace=True)
df = df.reset_index()
df

,level_0,index,Name,Time,Store,Comment
0,0,180054,Stephanie,1/13/19,Walmart,never keep store stock thing time
1,1,180055,Stephanie,1/13/19,Walmart,employee stock blast music phone phone go stor...
2,2,180056,Stephanie,1/13/19,Walmart,employee meeting middle aisle
3,3,180057,Stephanie,1/13/19,Walmart,beaumont ca
4,4,180058,Stephanie,1/13/19,Walmart,store
...,...,...,...,...,...,...
33099,33099,140028,CDurham,9/30/21,Walmart,com
33100,33100,140029,John John,9/30/21,Walmart,customer need carefully price
33101,33101,140030,John John,9/30/21,Walmart,price difference check
33102,33102,140031,John John,9/30/21,Walmart,call people work walmart talk
33103,33103,140032,John John,9/30/21,Walmart,say not happy not buy

In [4]:
# keep number and remove character and alphabet in Time column
df['Time'] = df['Time'].str.replace('[a-zA-Z]', '')
df

C:\Users\HienPhuong\AppData\Local\Temp\ipykernel_7712\1946158695.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Time'] = df['Time'].str.replace('[a-zA-Z]', '')

,level_0,index,Name,Time,Store,Comment
0,0,180054,Stephanie,1/13/19,Walmart,never keep store stock thing time
1,1,180055,Stephanie,1/13/19,Walmart,employee stock blast music phone phone go stor...
2,2,180056,Stephanie,1/13/19,Walmart,employee meeting middle aisle
3,3,180057,Stephanie,1/13/19,Walmart,beaumont ca
4,4,180058,Stephanie,1/13/19,Walmart,store
...,...,...,...,...,...,...
33099,33099,140028,CDurham,9/30/21,Walmart,com
33100,33100,140029,John John,9/30/21,Walmart,customer need carefully price
33101,33101,140030,John John,9/30/21,Walmart,price difference check
33102,33102,140031,John John,9/30/21,Walmart,call people work walmart talk
33103,33103,140032,John John,9/30/21,Walmart,say not happy not buy

In [5]:
#insert 0 in first if Time column len = 9
df['Time'] = df['Time'].apply(lambda x: '0' + x if len(x) == 9 else x)
df

,level_0,index,Name,Time,Store,Comment
0,0,180054,Stephanie,1/13/19,Walmart,never keep store stock thing time
1,1,180055,Stephanie,1/13/19,Walmart,employee stock blast music phone phone go stor...
2,2,180056,Stephanie,1/13/19,Walmart,employee meeting middle aisle
3,3,180057,Stephanie,1/13/19,Walmart,beaumont ca
4,4,180058,Stephanie,1/13/19,Walmart,store
...,...,...,...,...,...,...
33099,33099,140028,CDurham,9/30/21,Walmart,com
33100,33100,140029,John John,9/30/21,Walmart,customer need carefully price
33101,33101,140030,John John,9/30/21,Walmart,price difference check
33102,33102,140031,John John,9/30/21,Walmart,call people work walmart talk
33103,33103,140032,John John,9/30/21,Walmart,say not happy not buy

In [6]:
#insert 0 in first if Time column len = 9
df['Time'] = df['Time'].apply(lambda x: '0' + x if len(x) == 7 else x)
df

,level_0,index,Name,Time,Store,Comment
0,0,180054,Stephanie,01/13/19,Walmart,never keep store stock thing time
1,1,180055,Stephanie,01/13/19,Walmart,employee stock blast music phone phone go stor...
2,2,180056,Stephanie,01/13/19,Walmart,employee meeting middle aisle
3,3,180057,Stephanie,01/13/19,Walmart,beaumont ca
4,4,180058,Stephanie,01/13/19,Walmart,store
...,...,...,...,...,...,...
33099,33099,140028,CDurham,09/30/21,Walmart,com
33100,33100,140029,John John,09/30/21,Walmart,customer need carefully price
33101,33101,140030,John John,09/30/21,Walmart,price difference check
33102,33102,140031,John John,09/30/21,Walmart,call people work walmart talk
33103,33103,140032,John John,09/30/21,Walmart,say not happy not buy

In [7]:
#change if the end 22 to 2022 and 21 to 2021 and 20 to 2020 in Time column
df['Time'] = df['Time'].apply(lambda x: x[:-3] + '/2022' if x[-3:] == '/22' else x)
df['Time'] = df['Time'].apply(lambda x: x[:-3] + '/2021' if x[-3:] == '/21' else x)
df['Time'] = df['Time'].apply(lambda x: x[:-3] + '/2020' if x[-3:] == '/20' else x)
df['Time'] = df['Time'].apply(lambda x: x[:-3] + '/2019' if x[-3:] == '/19' else x)
df['Time'] = df['Time'].apply(lambda x: x[:-3] + '/2018' if x[-3:] == '/18' else x)
df['Time'] = df['Time'].apply(lambda x: x[:-3] + '/2017' if x[-3:] == '/17' else x)
df['Time'] = df['Time'].apply(lambda x: x[:-3] + '/2016' if x[-3:] == '/16' else x)
df['Time'] = df['Time'].apply(lambda x: x[:-3] + '/2015' if x[-3:] == '/15' else x)
df['Time'] = df['Time'].apply(lambda x: x[:-3] + '/2014' if x[-3:] == '/14' else x)
df['Time'] = df['Time'].apply(lambda x: x[:-3] + '/2013' if x[-3:] == '/13' else x)
df['Time'] = df['Time'].apply(lambda x: x[:-3] + '/2012' if x[-3:] == '/12' else x)
df['Time'] = df['Time'].apply(lambda x: x[:-3] + '/2011' if x[-3:] == '/11' else x)
df['Time'] = df['Time'].apply(lambda x: x[:-3] + '/2010' if x[-3:] == '/10' else x)

df

,level_0,index,Name,Time,Store,Comment
0,0,180054,Stephanie,01/13/2019,Walmart,never keep store stock thing time
1,1,180055,Stephanie,01/13/2019,Walmart,employee stock blast music phone phone go stor...
2,2,180056,Stephanie,01/13/2019,Walmart,employee meeting middle aisle
3,3,180057,Stephanie,01/13/2019,Walmart,beaumont ca
4,4,180058,Stephanie,01/13/2019,Walmart,store
...,...,...,...,...,...,...
33099,33099,140028,CDurham,09/30/2021,Walmart,com
33100,33100,140029,John John,09/30/2021,Walmart,customer need carefully price
33101,33101,140030,John John,09/30/2021,Walmart,price difference check
33102,33102,140031,John John,09/30/2021,Walmart,call people work walmart talk
33103,33103,140032,John John,09/30/2021,Walmart,say not happy not buy

In [8]:
#from string format 08 16 2008 to datetimw type 16/08/2008
df['Time'] = pd.to_datetime(df['Time'], format='%m/%d/%Y')

In [9]:
#change  2022-09-22 to 22/09/2022
df['Time'] = df['Time'].dt.strftime('%d/%m/%Y')
df

,level_0,index,Name,Time,Store,Comment
0,0,180054,Stephanie,13/01/2019,Walmart,never keep store stock thing time
1,1,180055,Stephanie,13/01/2019,Walmart,employee stock blast music phone phone go stor...
2,2,180056,Stephanie,13/01/2019,Walmart,employee meeting middle aisle
3,3,180057,Stephanie,13/01/2019,Walmart,beaumont ca
4,4,180058,Stephanie,13/01/2019,Walmart,store
...,...,...,...,...,...,...
33099,33099,140028,CDurham,30/09/2021,Walmart,com
33100,33100,140029,John John,30/09/2021,Walmart,customer need carefully price
33101,33101,140030,John John,30/09/2021,Walmart,price difference check
33102,33102,140031,John John,30/09/2021,Walmart,call people work walmart talk
33103,33103,140032,John John,30/09/2021,Walmart,say not happy not buy

In [10]:
#to csv file
df.to_csv('thangngaynamx.csv', index=False)